<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412268788730-scupqhk1ra16uvnb6cp1tm3uar8lhv3s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412268788730-scupqhk1ra16uvnb6cp1tm3uar8lhv3s</string>
	<key>API_KEY</key>
	<string>AIzaSyAe9PLTDNikFejRu-RoO-zGx6xVxKmTKTE</string>
	<key>GCM_SENDER_ID</key>
	<string>412268788730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTestProject</string>
	<key>PROJECT_ID</key>
	<string>juxeboxd</string>
	<key>STORAGE_BUCKET</key>
	<string>juxeboxd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412268788730:ios:1d617ddb24e7335bfe8243</string>
</dict>
</plist>